extends layout

block content
    div(class="header")
        h1=title
    div(class="box")
        p
        //input(id="slider" type="range" style="width:100%" min="0" value="0" max="4")
        div
            div(class="container" id="slider")
            div(class="container" id="chart1")
        //svg()
        div(class="eventhandler" style="display:none")
        script(src='/javascripts/nestedbar.js' type='module')
