extends layout

block content
    h1= title
    p Welcome to #{title}!
    input(id="slider" type="range" style="width:100%" min="0" value="0" max="4")
    div(class="chart")
    //svg()
    script(src='/javascripts/scatterplot.js' type='module')
