@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700');

:root {
    --color-highlight-red: 54; --color-highlight-green: 167; --color-highlight-blue: 205;
    --color-highlight: rgb(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue));
    --color-highlight-faded-10: rgba(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue), 0.10);
    --color-highlight-faded-25: rgba(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue), 0.25);
    /* IMPORTANT: any change of this highlight color should also be applied in background-images */
    --color-warning: rgb(223, 67, 0);
    --color-gray-light: rgb(204, 204, 204);
    --color-gray-medium: rgb(153, 153, 153);
    --color-gray-dark: rgb(102, 102, 102);
    --color-black-faded-50: rgba(0, 0, 0, 0.5);
    --color-black-faded-75: rgba(0, 0, 0, 0.75);
    --cursor-url-default: url('../assets/images/cursor.png');
    --cursor-url-active: url('../assets/images/cursor-active.png');
}

html, body {
    cursor: var(--cursor-url-default) 5 5, auto;
    color: var(--color-gray-light);
    font-family: Jura, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 255, 255, 0.25) rgba(50, 50, 50, 0.3);
    width: 100%;
}

a, button, input[type='checkbox'] {
    cursor: var(--cursor-url-active) 5 5, auto;
}

* {
    box-sizing: border-box;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 1px solid var(--color-gray-dark);
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

/* Scroll bar */

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Button */

button {
    background-color: transparent;
    border: 1px solid var(--color-highlight);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9.5px), calc(100% - 9.5px) 100%, 0 100%);
    color: var(--color-highlight);
    font-family: inherit;
    font-size: 15px;
    min-height: 35px;
    padding: 0 15px 0 10px;
    position: relative;
    transition: all 300ms ease 0s;
}

button:hover:not(:disabled) {
    background-color: var(--color-highlight-faded-25);
    color: white;
}

button:active:not(:disabled) {
    background-color: var(--color-highlight);
    color: white;
}

button::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg' stroke='%2336a7cd'%3E%3Cline x1='0' y1='10' x2='10' y2='0'%3E%3C/line%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    bottom: -1px;
    content: '';
    height: 10px;
    margin-right: 0;
    position: absolute;
    right: -1px;
    width: 10px;
}

/* Label for input */

label.label-for-input {
    align-items: center;
    cursor: var(--cursor-url-active) 5 5, auto;
    display: inline-flex;
    gap: 10px;
}

/* Input checkbox */

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent; /* for iOS < 15 to remove gradient background */
    background-image: url("data:image/svg+xml,%3Csvg stroke='%2336a7cd' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--color-highlight);
    height: 20px;
    margin: 0; /* not removed via appearance */
    position: relative;
    transition: all 300ms ease 0s;
    width: 20px;
}

input[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3Csvg stroke='%2336a7cd' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='9 11 12 14 22 4'%3E%3C/polyline%3E%3Cpath d='M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11'%3E%3C/path%3E%3C/svg%3E%0A");
}

/* Notification */

.notification {
    background-color: var(--color-black-faded-75);
    border-left: 5px solid var(--color-highlight);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    cursor: var(--cursor-url-active) 5 5, auto;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px 30px 20px 40px;
    position: relative;
    width: 325px;
}

.notification.warning {
    border-color: var(--color-warning);
}

.notification-close {
    height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
}

.notification-close::after {
    color: white;
    content: "\D7";
    font-size: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* List with expanding items */

ul.list-expanding-items {
    --list-item-height: 40px;
    /* box-shadow: rgb(0, 0, 0) 0px 5px 7px -8px inset; */
    font-size: 14px;
    overflow-y: auto;
    scrollbar-width: thin;
}

ul.list-expanding-items li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: var(--list-item-height);
    max-height: var(--list-item-height);
    overflow: hidden;
    padding: 0 20px 0 10px;
    transition: all 0.3s ease 0s;
}

ul.list-expanding-items li:hover {
    background-color: rgba(40, 40, 40, 0.5);
    border-top: 1px solid var(--color-gray-dark);
    border-bottom: 1px solid var(--color-gray-dark);
    height: calc(3 * var(--list-item-height));
    max-height: calc(3 * var(--list-item-height));
}

ul.list-expanding-items li .item-title {
    align-items: center;
    display: flex;
    height: var(--list-item-height);
}

ul.list-expanding-items li .item-expand {
    line-height: 1.5;
    /* height of "li:hover" minus height of ".item-title", minus top+bottom borders (2px) */
    height: calc(2 * var(--list-item-height) - 2px);
    white-space: nowrap;
}

/* Icons */

.icon-button {
    border: 1px solid var(--color-highlight);
    border-radius: 2px;
    cursor: var(--cursor-url-active) 5 5, auto;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 4px;
    transition: all 300ms ease 0s;
}

.icon-button:hover {
    background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
}

.icon-button:active {
    background-color: var(--color-highlight);
}

.icon-round {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    padding: 5px;
    width: 30px;
}

.icon-round:hover {
    background-color: var(--color-gray-medium);
}

.icon-button::after,
.icon-round::after {
    background-color: var(--color-highlight);
    content: '';
    display: block;
    height: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    width: 100%;
}

.icon-button:hover::after,
.icon-button:active::after {
    background-color: white !important;
}

.icon-round::after {
    background-color: var(--color-gray-medium);
}

.icon-round:hover::after {
    background-color: black;
}

/* Icon images */

.icon-arrow-down::after {
    mask-image: url('../assets/images/icon-arrow-right.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-right.svg');
    transform: rotate(90deg);
}

.icon-arrow-down-end::after {
    mask-image: url('../assets/images/icon-arrow-left-end.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-left-end.svg');
    transform: rotate(-90deg);
}

.icon-arrow-left::after {
    mask-image: url('../assets/images/icon-arrow-right.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-right.svg');
    transform: rotate(180deg);
}

.icon-arrow-left-end::after {
    mask-image: url('../assets/images/icon-arrow-left-end.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-left-end.svg');
}

.icon-arrow-right::after {
    mask-image: url('../assets/images/icon-arrow-right.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-right.svg');
}

.icon-arrow-right-end::after {
    mask-image: url('../assets/images/icon-arrow-left-end.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-left-end.svg');
    transform: rotate(180deg);
}

.icon-arrow-up::after {
    mask-image: url('../assets/images/icon-arrow-right.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-right.svg');
    transform: rotate(-90deg);
}

.icon-arrow-up-end::after {
    mask-image: url('../assets/images/icon-arrow-left-end.svg');
    -webkit-mask-image: url('../assets/images/icon-arrow-left-end.svg');
    transform: rotate(90deg);
}

.icon-crew-member::after {
    mask-image: url('../assets/images/icon-crew-member.svg');
    -webkit-mask-image: url('../assets/images/icon-crew-member.svg');
}

.icon-crew-members::after {
    mask-image: url('../assets/images/icon-crew-members.svg');
    -webkit-mask-image: url('../assets/images/icon-crew-members.svg');
}

.icon-fissiles::after {
    mask-image: url('../assets/images/icon-fissiles.svg');
    -webkit-mask-image: url('../assets/images/icon-fissiles.svg');
}

.icon-trade::after {
    mask-image: url('../assets/images/icon-trade.svg');
    -webkit-mask-image: url('../assets/images/icon-trade.svg');
}

.icon-yield::after {
    mask-image: url('../assets/images/icon-yield.svg');
    -webkit-mask-image: url('../assets/images/icon-yield.svg');
}

.icon-zoom::after {
    mask-image: url('../assets/images/icon-zoom.svg');
    -webkit-mask-image: url('../assets/images/icon-zoom.svg');
}