@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700');

text {
  color: var(--color-gray-light);
}

.domain {
  stroke: var(--color-gray-dark);
}

g.tick.line {
  stroke:var(--color-gray-dark);
}

.tick {
  font-family: sans-serif;
  font-size: 10px;
}

.axis-label {
  font-family: Jura, sans-serif;
  font-size: 13px;
}

.container {
  float: left;

  /*background-color: var(--color-black-faded-50);*/
}

/** {
  color: var(--color-gray-light);
  font-family: sans-serif;
}*/

.header {
  width: 100%;
  background-color: var(--color-black-faded-50);
  border-left: 5px solid var(--color-highlight);
  padding: 10px 20px 10px 30px;
  position: relative;
}

.box {
  width: 100%;
  background-color: var(--color-black-faded-50);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 20px 40px;
  float: left;
}


:root {
  --color-highlight-red: 54; --color-highlight-green: 167; --color-highlight-blue: 205;
  --color-highlight: rgb(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue));
  --color-highlight-faded-10: rgba(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue), 0.10);
  --color-highlight-faded-25: rgba(var(--color-highlight-red), var(--color-highlight-green), var(--color-highlight-blue), 0.25);
  /* IMPORTANT: any change of this highlight color should also be applied in background-images */
  --color-warning: rgb(223, 67, 0);
  --color-gray-light: rgb(204, 204, 204);
  --color-gray-medium: rgb(153, 153, 153);
  --color-gray-dark: rgb(49, 49, 49);
  --color-black-faded-50: rgba(0, 0, 0, 0.5);
}

html, body {
  background-color: #202030;
  color: var(--color-gray-light);
  font-family: Jura, sans-serif;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(50, 50, 50, 0.3);
  width: 100%;
}

body {
  padding: 50px;
}

h2 {
  border-bottom: 1px solid var(--color-gray-dark);
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 0;
}